In [1]:
import pandas as pd

###`Q-1:` Write a program to create an empty series.

In [2]:
df=pd.Series()
df

Series([], dtype: object)

###`Q-2:` Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [6]:
# Assuming we want to operate on the columns 'a1' from df and 'a2' from df1 as Series
df=pd.DataFrame({'a1':[1,2,3]})
df1=pd.DataFrame({'a2':[4,5,6]})
s1 = df['a1']
s2 = df1['a2']

addition = s1 + s2
subtraction = s1 - s2
multiplication = s1 * s2
division = s1 / s2

print("Addition:\n", addition)
print("Subtraction:\n", subtraction)
print("Multiplication:\n", multiplication)
print("Division:\n", division)

Addition:
 0    5
1    7
2    9
dtype: int64
Subtraction:
 0   -3
1   -3
2   -3
dtype: int64
Multiplication:
 0     4
1    10
2    18
dtype: int64
Division:
 0    0.25
1    0.40
2    0.50
dtype: float64

###`Q-3` Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [12]:
# Compare elements of the two Series
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 10])

print("Greater than:\n", series1 > series2)
print("Less than:\n", series1 < series2)
print("Equal:\n", series1 == series2)

Greater than:
 0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
 0    False
1    False
2    False
3    False
4    False
dtype: bool
Equal:
 0    False
1    False
2    False
3    False
4     True
dtype: bool

###`Q-5.`Write a function to change the data type of given a column or a Series. Function takes series and data type as input, returns the converted series.
```
series = pd.Series([1,2,'Python', 2.0, True, 100])
change to float type data
```
Note: Read about pd.to_numeric()

In [13]:
def change_type(series,type):
    return series.astype(type)
# Example usage:
s = pd.Series([1, 2, 3, 4, 5])
print(change_type(s,float))

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

Download data - https://drive.google.com/file/d/1LRhXwbEodeWXtzPhJCX0X9Lf_BECzvqb/view?usp=share_link
All Batsman runs series in IPL 2008 to 2022.

Below questions are based on this data.

###`Q-6` Find top 10 most run getter from the series.

In [27]:
df=pd.read_csv('batsman_runs_series.csv')
df.head()
df['batsman_run'].argsort()

0      600
1      595
2      562
3      537
4      249
      ...
600    493
601    430
602    130
603    462
604    569
Name: batsman_run, Length: 605, dtype: int64

###`Q-7` No of players having runs above 3000

In [30]:
num_players_above_3000 = (df['batsman_run'] > 3000).sum()
print("Number of players with runs above 3000:", num_players_above_3000)

Number of players with runs above 3000: 20

###`Q-8` No of players having runs above mean value?

In [33]:
c=[]
for i in df['batsman_run']:
    if i>df['batsman_run'].mean():
        c.append(i)
print(len(c))

128

Download data - https://drive.google.com/file/d/1QZuZ5bypUInfVvarHACLAi8tXXHvb8xd/view?usp=share_link

file name - items.csv

###`Q-9`
    i. Read `items.csv` making `item_name` as index.
    ii. Show no of nan values
    ii. Item price is given in $, so convert it to rupees without currency symbol.
    iii. Make data type of newly made series as float.
    iv. Fill nan with mean of the series


How csv file looks

```
item_name	item_price
Chips and Fresh Tomato Salsa	$2.39
Izze	$3.39
Nantucket Nectar	$3.39
Chips and Tomatillo-Green Chili Salsa	$2.39
Chicken Bowl	$16.98

```

In [ ]:
# code here

###`Q-10`:
    i. Find mean price
    ii. Find 30th and 6th percentile value
    iii. Plot Histogram on price with bin size 50
    iv. No of items price lies between [1000 to 2000]

In [ ]:
# code here